@import "sass/main";

* {
  box-sizing: border-box;
}

.page-container {
  margin: 0 auto;
  max-width: 1024px;
}

section {
  padding: 4vw;
}

.page-content {
  @include calc( padding-top, '12vw + 4.6rem');
}

header {
  @include clearfix;
  display: -webkit-flex;
  padding: 4vw;
  position: fixed;
  width:100%;
  .page-container {
    @include flex-container;
    position: relative;
    a {
      position: fixed;
      left: 4vw;
    }
  }
}

label {
  display: inline-block;
  padding-left: 5px;
  margin-left: 0 5px;
}

.dark {
  background-color: $dark;
  color: $bg;
}
.neutral {
  background-color: $bg;
  color: $dark;
}

.media {
  img {
    border: 8px solid $neutral {
      left-color: lighten($neutral, 20%);
      top-color: lighten($neutral, 20%);
    }
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}
