$serif: 'cursive';
$sans-serif: 'sans-serif';

$font-title: 'Niconne', $serif;
$font-title-weight: 400;

$font-default: 'Raleway', $sans-serif;
$font-default-weight: 400;
$font-default-title-weight: 300;


$initial-font-size: 10px;

// Colors
$bg: #fff;
$dark: #1c2b38;
$neutral: #94bcca;
