<div class="wrapper" ng-if="!$ctrl.shot">
  <span class="title"></span>
  <span class="date"></span>
  <span class="media"></span>
  <span class="description"></span>
</div>

<div class="details" ng-if="$ctrl.shot">
  <h1>{{$ctrl.shot.title}}</h1>
  <div class="media">
    <span class="date">{{($ctrl.shot.updated_at || $ctrl.shot.created_at) | date:'dd/MM/yyyy \'às\' HH:mm\'hs\' '}}</span>
    <picture>
      <source ng-srcset="{{$ctrl.shot.images.hidpi || $ctrl.shot.images.normal}}" media="(min-width: 360px)">
      <source ng-srcset="{{$ctrl.shot.images.normal}}" media="(min-width: 180px) and (max-width: 359px)">
      <img ng-srcset="{{$ctrl.shot.images.teaser}}" alt="{{$ctrl.shot.title}}">
    </picture>
    <p class="icones">
      <span class="icon-views"></span> {{$ctrl.shot.views_count}}
      <span class="icon-favorites"></span> {{$ctrl.shot.likes_count}}
      <span class="icon-comments"></span> {{$ctrl.shot.comments_count}}
    </p>

    <div class="description" ng-bind-html="$ctrl.shot.description"></div>
  </div>
</div>


<div class="user" ng-if="$ctrl.shot.user">
  <div class="user-container">
    <div class="thumb">
      <picture>
        <img ng-srcset="{{$ctrl.shot.user.avatar_url}}" alt="{{$ctrl.shot.user.name}}">
      </picture>
      <p class="icons">
        <span class="icon-following"> {{$ctrl.shot.user.followings_count | number}}</span>
        <span class="icon-followers"> {{$ctrl.shot.user.followers_count | number}}</span>
      </p>
    </div>

    <div class="text">
      <h4>{{$ctrl.shot.user.name}}</h4>
      <p ng-bind-html="$ctrl.shot.user.bio"></p>
      <p>{{$ctrl.shot.user.location}}</p>
      <ul ng-init="$ctrl.getLinks()">
        <li>Membro desde: {{$ctrl.shot.user.created_at | date:'dd/MM/yyyy'}}</li>
        <li ng-repeat="link in $ctrl.links">{{link.name}}: <a ng-href="{{link.url}}">{{link.url}}</a></li>
      </ul>
    </div>
  </div>
</div>
