<div class="list">
  <div class="item" ng-repeat="shot in ListCtrl.shots">
    <pwbbb-shot-resume data-shot="shot"></pwbbb-shot-resume>
  </div>
</div>

<div class="pagination">
  <a href class="prev"
     ng-click="ListCtrl.setPage(-1)"
     ng-class="{ 'active': ListCtrl.prevPage }"
     ng-disabled="!ListCtrl.prevPage"
     ui-sref="shots.page({page: ((ListCtrl.prevPage === 0) ? 1 : ListCtrl.prevPage)})">
    Anterior
  </a>
  <a href class="next"
     ng-click="ListCtrl.setPage(1)"
     ng-class="{ 'active': ListCtrl.nextPage }"
     ng-disabled="!ListCtrl.nextPage"
     ui-sref="shots.page({page: ((ListCtrl.nextPage === 0) ? 1 : ListCtrl.nextPage)})">
    Próxima
  </a>
</div>
